
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

h1{ font-family: "Dancing Script", cursive;
                font-optical-sizing: auto;
                font-weight: 550;
                font-style: normal;
                font-size: 3rem;
}

.color0 {
    color:darkgreen
}

span{
    color: goldenrod;
}

.color1{
    color: blue;
}
 


